<div>
  <h4>Specie: {{(animalToDisplay | async)?.specie}}</h4>
  <h4>Name: {{(animalToDisplay | async)?.name}}</h4>
  <h4>Age: {{(animalToDisplay | async)?.age}}</h4>
  <h4>Diet: {{(animalToDisplay | async)?.diet}}</h4>
  <h4>Location: {{(animalToDisplay | async)?.location}}</h4>
  <h4>Caretakers: {{(animalToDisplay | async)?.caretakers}}</h4>
  <h4>Sex: {{(animalToDisplay | async)?.sex}}</h4>
  <h4>Likes: {{(animalToDisplay | async)?.likes}}</h4>
  <h4>Dislikes: {{(animalToDisplay | async)?.dislikes}}</h4>
</div>
